# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Virtual Environment
.venv/
env/
venv/

# VS Code
.vscode/

# Temporary Files
Untitled.ipynb
Untitled_docs.md
test_connection.py
test_network.py
test_network_insecure.py
test_requests.py
